body, html {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.pageContent {
  flex: 1;
}

.header {
  background-color: rgb(135, 72, 137) !important;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(135, 72, 137) !important;
  padding: 40px !important;
  text-align: center !important;
}

.nav-link {
  color: rgb(98, 52, 99) !important;
}

.nav-link.active {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(135, 72, 137) !important;
}

.nav-link:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(98, 52, 99) !important;
}

.btn {
  color: rgb(98, 52, 99) !important;
}

.btn.active {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(135, 72, 137) !important;
}

.btn:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(98, 52, 99) !important;
}

.card {
  border-color: rgb(98, 52, 99) !important;
}

.card-header, .card-footer {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(135, 72, 137) !important;
}

a {
  color: rgb(255, 255, 255) !important;
}

a:hover {
  opacity: 0.7 !important;
}

.footer {
  background-color: rgb(135, 72, 137) !important;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(135, 72, 137) !important;
  padding: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

#articlesColumn, #blogsColumn, #reportsColumn {
  max-height: 65vh;
  overflow-y: auto;
}